<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="27" android:versionName="4.2.2" package="com.applepie.android.smallcamera"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.sony.smallapp.permission.SMALLAPP" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <application android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" android:icon="@drawable/ic_launcher_app_ext">
        <uses-library android:name="com.sony.smallapp.framework" />
        <service android:label="@string/app_name" android:icon="@drawable/ic_launcher_ext" android:name=".view.SmallCameraViewExtension" android:exported="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.sony.smallapp.intent.action.MAIN" />
                <category android:name="com.sony.smallapp.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
    </application>
</manifest>